<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
</head>
<body style="background-color:black;">
<h2>
    <a href="http://localhost:5000/api/associates"> Associates
    </a>
</h2>
<h2>

    <a href="http://localhost:5000/api/clubs"> Clubs
    </a>
</h2>
<h2>

    <a href="http://localhost:5000/api/games"> Games
    </a>
</h2>
<h2>

    <a href="http://localhost:5000/api/gk_info"> Gk_info
    </a>
</h2>
<h2>

    <a href="http://localhost:5000/api/team_info"> Team Info
    </a>
</h2>

</body>
</html>